.skill-container {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.skill-overlay{
  position: relative;
  background-color: rgba(158, 144, 144, 0.2);
  top: 5;
  bottom: 0;
  height: 100%;
  width: 100%;
  /* z-index: -5;  */
}

h1{
  font-size: 100px !important;
}

p{
  font-size: 20px !important;
}

.carousel-indicators{
  margin: 0 !important;
}