h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 {
  font-size: 2.5em;
  color: rgb(216, 212, 212);
}
h2 {
  color: rgb(216, 212, 212);
  font-size: 2em;
  vertical-align: center;
}

.txt-rotate {
  font-size: 5rem;
}

.title-top {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #302e24, #28313e);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.container {
  margin-top: 50vh;
}
