.timeline-container {
  /* margin-top: 7vh; */
  /* height: 100%; */
  width: 100%;
  position: inherit;
  margin: 0 !important;
}

.verrical-timeline-element-description {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 2.2em 0;
  }
}
